# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Streamlit secrets
.streamlit/secrets.toml

# Environment variables
.env
.env.*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db